body {
    font-family: Roboto, sans-serif;
    color: #212121;
}
.logo {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    color: #2196F3;
    font-size: 26px;
    line-height: 31px;
}
.social-links a {
    color: #212121;
    text-decoration: none;
    font-size: 14px;
    font-style: Medium;
    line-height: 16px;   
}
.social-links :hover {
    color: #2196F3;
}
.contact a{
    color: #757575;
    text-decoration: none;
    font-size: 14px;  
}
.contact :hover {
    color: #2196F3;
}
.buttons {
    width: 216px;
    height: 50px;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 0px;
    font-size: 16px;
    color: black;
    box-shadow: 0px 4px 4px 0px #00000026;
    cursor: pointer;
}
.buttons:hover {
    background-color: #2196F3;
    color: white;
}
.box h3{
    font-size: 18;
    color: #212121;
    line-height: 2.0;
    font-style: bold;
    letter-spacing: 6%;
}
.box p {
    font-size: 16;
    color: #757575;
    line-height: 2.0;
    font-style: regular;
    letter-spacing: 3%;
}
.fotext {
    text-decoration: none;
    font-style: normal;
    line-height: 1.4;
}
.fotext p {
    font-size: 14px;
    color: white;
}
.container {
    background-color: #2F303A;
}