
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--brand-main-color);
}

:root {
    --brand-main-color: #ffffff;
    --brand-text: #212121;
    --brand-allocations: #757575;
}



.direction-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--brand-main-color);

    border: 2px solid #EEEEEE;
}
.direction-header a {
    padding: 30px;
}
.logo {
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.social-links {
    list-style: none;
    display: flex;
    padding-right: 90px;

}
.social-links a {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--brand-text);

    padding: 50px;
    
}
.social-links :hover {
    color: #2196F3;
}
.contact {
    list-style: none;
    display: flex;

}
.contact a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--brand-allocations);

    margin-right: 50px;
}
.contact :hover {
    color: #2196F3;
}


.first-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--brand-text);
    
    padding: 30px;
}
.direction-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 200px;
    margin-bottom: 280px;
}
.button {
    width: 216px;
    height: 50px;
    background-color: #2196F3;
    border-radius: 4px;
    border: 0px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
    color: white;
    box-shadow: 0px 4px 4px 0px #00000026;
    cursor: pointer;

}
.direction-inform {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    margin: 215px;
}
.information h3 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-text);

    margin-bottom: 10px;
}

.information p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--brand-allocations);

    margin-right: 30px;
}
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--brand-text);
    
    margin-top: 94px;
    margin-bottom: 50px;
}
.images-page-one { 
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.images-page-one img { 
    width: 370px; 
    height: 294px;
    margin: 30px;
    padding-bottom: 50px;
}
.selection-color {
    background-color: #F5F4FA;
    padding-top: 94px;
}
.title-two {
    font-size: 36px;
    font-style: Bold;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.our-team {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    -bottom: 94px;
}
.our-team h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--brand-text);
    
    padding-bottom: 10px;
}

.our-team p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--brand-allocations);

    text-align: center;


}
.our-text-direction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 25px;
}
.card-our {
    height: 368px;
    width: 270px;
    background-color: #FFFFFF;
    border: 2px solid #EEEEEE;
    border-radius: 3px;
    box-shadow: 0px 2px 1px 0px #00000033;

    margin: 30px;
}
.footer-logo {
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #2196F3;
    letter-spacing: 0.03em;

    margin-top: 60px;
    margin-left: 215px;
}
.footer-text {
    text-decoration: none;
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: white;
    letter-spacing: 0.03em;

    margin: 20px 215px;
}

.contact-two {
    list-style: none;
    padding-left: 0px;
    padding-top: 9px;

}
.contact-two a{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--brand-allocations);
}
.contact-two :hover {
    color: #2196F3;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer-background {
    text-decoration: none;
    list-style: none;
    background-color: #2F303A;
    height: 252px;
}
.second-button {
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 0px;
    color: var(--brand-text);
    cursor: pointer;

    padding: 10px;
    margin-right: 8px; 
}   
.second-button:hover {
    background-color: #2196F3;
    color: white;
}
.direction {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 94px;
    margin-bottom: 34px;
}
.direction-two {
    list-style: none;
    
}
.box {
    text-decoration: none;
    list-style: none;
    

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-bottom: 94px;
}

.second-card-text {
    padding: 20px 24px;
}

.box h3{
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--brand-text);
}
.box p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    line-height: 2.0;
    letter-spacing: 0.03em;
    color: var(--brand-allocations);

    padding-top: 4px;
}
.second-card {
    height: 404px;
    width: 370px;
    border: 2px solid #EEEEEE;
    background: #FFFFFF;
    
    margin: 30px 50px;
}
