body {
    font-family: "Roboto", sans-serif;
    color: #212121;
}
.logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #2196F3;
    font-size: 26px;
    line-height: 31px;
}
.social-links {
    list-style: none;
}
.social-links a {
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;   
}
.social-links :hover {
    color: #2196F3;
}
.contact {
    list-style: none;
}
.contact a{
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}
.contact :hover {
    color: #2196F3;
}
.first-title {
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 6%;
    font-weight: black;
}
.button {
    width: 216px;
    height: 50px;
    background-color: #2196F3;
    border-radius: 4px;
    border: 0px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 4px 4px 0px #00000026;
    cursor: pointer;
}
.information {
    list-style: none;
    font-size: 14px;
    line-height: 1.4;
    font-weight: Bold;
}
.information p{
    color: #757575;
    font-weight: 400;
    line-height: 1.6;
    font-weight: 400;
}
.images-page-one { 
    list-style: none;
}
.images-page-one img { 
    width: 370px; 
    height: 294px;
}
.title {
    font-size: 36px;
    font-style: Bold;
    line-height: 1.6;
}
.selection-color {
    background-color: #F5F4FA;
}
.our-team {
    list-style: none;
}
.our-team img {
    width: 270px;
    height: 260px;
}

.our-team h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.our-team p {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
}

.footer-text p {
    text-decoration: none;
    list-style: none;
    line-height: 1.4;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: white;
    
}
.container {
    text-decoration: none;
    list-style: none;
    background-color: #2F303A;
}
.second-button {
    list-style: none;
    font-size: 16px;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 0px;
    color: black;
    font-weight: 500;
    cursor: pointer;
    margin: 10px 20px; 
}
.second-button:hover {
    background-color: #2196F3;
    color: white;
}
.direction {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.direction-two {
    list-style: none;
    
}
.box {
    text-decoration: none;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box img {
    width: 370px; 
    height: 294px;
}

.box h3{
    font-size: 18;
    color: #212121;
    line-height: 2.0;
    font-weight: bold;
    letter-spacing: 6%;
    padding-left: 30px;
}
.box p {
    font-size: 16;
    color: #757575;
    line-height: 2.0;
    font-weight: 400;
    letter-spacing: 3%;
    padding-left: 30px;
}
.second-card {
    width: 370px;
    height: 430px;
    border: 2px solid #EEEEEE;
    background: #FFFFFF;
    
    margin: 30px 50px;
}
