body {
    font-family: Roboto, sans-serif;
    color: #212121;
}
.logo {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    color: #2196F3;
    font-size: 26px;
    line-height: 31px;
}
.social-links a {
    color: #212121;
    text-decoration: none;
    font-size: 14px;
    font-style: Medium;
    line-height: 16px;   
}
.social-links :hover {
    color: #2196F3;
}
.contact a{
    color: #757575;
    text-decoration: none;
    font-size: 14px;  
}
.contact :hover {
    color: #2196F3;
}
.ftext {
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 6%;
}
.button {
    width: 216px;
    height: 50px;
    background-color: #2196F3;
    border-radius: 4px;
    border: 0px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 4px 4px 0px #00000026;
    cursor: pointer;
}
.information{
    font-size: 14px;
    line-height: 1.4;
    font-style: Bold;
}
.information p{
    color: #757575;
    font-style: Regular;
    line-height: 1.6;
}
h2 {
    font-size: 36px;
    font-style: Bold;
    line-height: 1.6;
}
.selection-color {
    background-color: #F5F4FA;
}
.people{
    font-size: 16px;
    font-style: Medium;
    line-height: 1.2;
}
.people p{
    color: #757575;
    font-style: Regular;
}

.footer-text {
    text-decoration: none;
    font-style: normal;
    line-height: 1.4;
}
.footer-text p {
    font-size: 14px;
    color: white;
}
.container {
    background-color: #2F303A;
}